<IfModule mod_rewrite.c>
  RewriteEngine On
  # Redirection to HTTPS (Optional):
  # RewriteCond %{HTTPS} off
  # RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]

  # Ensure the base href is set correctly (usually "/")
  RewriteBase /

  # Redirect all requests to index.html unless the file or directory exists
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
